
* {
  margin: 0;
  padding: 0;
}

body {
  background: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  color: #777;
}

h1 {
  font-size: 21px;
}

.block {
  width: 80vw;
  max-width: 960px;
  background-color: #ebebeb;
  height: 100px;
  margin: 10px auto 10px auto;
}

.block>p {
  line-height: 100px;
}

.content {
  width: 80vw;
  max-width: 100%;
  height: 250px;
  margin: 10px auto 10px auto;
  display: flex;
  padding-bottom: 20px;
}

.section {
  height: 100%;
  background-color: #ebebeb;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  flex-grow: 3;

}

.article {
  background-color: #777;
  margin: 10px;
  height: 69%;
}

.article>p {
  color: #ebebeb;
}

.inside  {
  margin: 10px;
  background-color: #ebebeb;
  height: 26%;
}

.aside {
  height: 100%;
  background-color: #ebebeb;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 2;
}
